
ion-header {
  ion-toolbar {
    --background: #1f2229;
    color: #4f6366;
    font-weight: bold;
    box-shadow: #0c1721 0 0 15px;
  }
}



ion-content {
  //--background: url('../../assets/log_bkg.jpg') 0 0/100% 100% no-repeat;
  --background: url('../../assets/anonymus.jpg') 0   100% no-repeat;

  ion-card {
    position: relative;
    top: 110px;
    ion-item {
      --background: #3d4048;
      color: rgba(#fff, 0.5);
    }
    //box-shadow: #3d4048 0 5px 10px;
  }


}

ion-button {
  position: relative;
  left: 50%;
  top: 120px;
  font-size: 1.4rem;
  transform: translateX(-50%);
  box-shadow: #6d9160 0 0 5px;
  --background: #6d9160;
}

ion-button:focus {
  background: #4c8dff;
}


a {
  position: absolute;
  transform: translateX(-50%);
  left: 51%;
  top: 57%;
  font-size: 1rem;
  color: #fcfaff;
  text-shadow: 0 0 15px #fcfaff;
}

.title_card {
  position: relative;
  --background: transparent !important;
  box-shadow: none;
  .title_item {
    position: relative;
    top: -20px;
    z-index: 9999;
    .title {
      font-family: "Bodoni MT";
      font-weight: bold;
      font-size: 2.5rem;
      position: relative;
      left: 50%;
      color: #4f6366;
      transform: translateX(-50%);
      text-align: center;
      text-shadow: #7fcbcc 0 0 20px;
    }

    --background: transparent;
  }
}
