
ion-header {
  ion-toolbar {
    --background: #1f2229;
    color: #fcfaff;
    box-shadow: #172029 0 0 15px;
  }
}

ion-content {
  //--background: url('../../assets/log_bkg.jpg') 0 0/100% 100% no-repeat;
  --background: #3d4048;

  ion-card {
    position: relative;
    display: flex;
    .card-info {
      background: #1f2229;
      width: 100%;
      ion-badge {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #28e070;
        color: #0c1721;
      }
      p {
        width: 100%;
        position: relative;
        left: 15px;
      }
      .user-firstname {

      }
    }
    .card-image {
      img {
        width: 140px;
      }
    }

    ion-item {
      --background: #3d4048;
      color: rgba(#fff, 0.5);
    }
    //box-shadow: #3d4048 0 5px 10px;

  }


}

ion-button {
  position: absolute;
  font-size: 0.5rem;
  right: 5px;
  bottom: 5px;
  box-shadow: #292d34 0 0 5px;
  --background: #292d34;
}

ion-button:focus {
  background: #4c8dff;
}

ion-refresher-content {
  background: #3d4048;
  --background: #3d4048;
  ion-refresher {
    background: #3d4048;
    --background: #3d4048;
  }
}

