.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.tab-panel {
  background: rgba(#3171e0, 0.7) !important;
}

.tabs-md .tabbar,.tabs-ios .tabbar {
  background: linear-gradient(rgb(3, 132, 218), rgb(2, 3, 46));
}

ion-toolbar, ion-header {
  --background: #4c8dff !important;
  color: white;
}