
ion-header {
  ion-toolbar {
    --background: #1f2229;
    color: #fcfaff;
    box-shadow: #172029 0 0 15px;
  }
}

ion-content {
  //--background: url('../../assets/log_bkg.jpg') 0 0/100% 100% no-repeat;
  --background: #292d34;

  .card-image {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 45vw;
      height: 45vw;
      box-shadow: #0c1721 1px 1px 15px;
      margin-top: 10px;
      border-radius: 3px;
      object-fit: cover;
    }
    //box-shadow: #3d4048 0 5px 10px;

  }

}


