
ion-header {
  .head_panel {
    display: flex;
    button {
      background: transparent;
      color: #35ff99;
      box-shadow: 0px 0px 10px #35ff99;
      --background: transparent;
      margin-right: 10px;
      font-size: 2.7rem;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      outline: none;
      ion-icon {
        position: relative;
        outline: none;
        transform: translate(-23%, -10%);
      }
    }
  }
  ion-toolbar {
    display: flex;
    justify-content: space-around;
    --background: #1f2229;
    color: #fcfaff;
    box-shadow: #172029 0 0 15px;
  }
}

ion-content {
  //--background: url('../../assets/log_bkg.jpg') 0 0/100% 100% no-repeat;
  --background: #292d34;

  .card-image {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width: 45vw;
      height: 45vw;
      box-shadow: #0c1721 1px 1px 15px;
      margin-top: 10px;
      border-radius: 3px;
      object-fit: cover;
    }
    //box-shadow: #3d4048 0 5px 10px;

  }

}


