
ion-header {
  ion-toolbar {
    --background: #1f2229;
    color: #fcfaff;
    box-shadow: #172029 0 0 15px;
    ion-title {
      font-size: 1rem;
    }
    ion-buttons {
      ion-button {
        --color: #fff !important;
        color: #fff !important;
      }
    }
    .head-img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}

ion-content {
  //--background: url('../../assets/log_bkg.jpg') 0 0/100% 100% no-repeat;
  --background: #1f2229;

  ion-grid {
    ion-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 50px;
      ion-col {
      margin-bottom: 10px;
      }
      .mess-from {
        background: #ffce00;
        border-radius: 0 5px 5px 0;
        float: left;
      }

      .mess-to {
        float: right;
        background: #28e070;
        border-radius: 5px 0px 0px 5px;
        text-align: right;
      }
      .not_mess {
        color: #86888f;
        text-align: center;
      }
    }
  }

  .mess-toolbar {
    margin: 0;
    display: inline;
    position: fixed;
    bottom: 0;
    height: 45px !important;
    width: 100%;
    --background: #3d4048;
    ion-textarea {
      position: relative;
      bottom: 3px;
      float: left;
      left: 5px;
      height: 40px !important;
      width: 83%;
      --background: transparent;
      color: #fff;
    }
    ion-button {
      --background: #3d4048;
      --box-shadow: none;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
    }
    .send-btn {
      float: right;
      position: fixed;
      right: 0px;
      border: none;
    }
    .emoji-btn {
      float: left;
      width: 70px;
      margin-top: 5px;
      width: 50px;
    }
  }






}



