<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="closeModal()"></ion-back-button>
      <img [src]="user.img" alt="" class="head-img">
    </ion-buttons>
    <ion-title >{{user_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row >
      <div *ngFor="let message of messList;" >
        <div *ngIf="message.to_id === user_id; else myBlock">
          <ion-col class=" mess-to"  size="7" > {{message.message}} </ion-col>
        </div>
        <ng-template #myBlock >
          <ion-col class="mess-from" size="7" *ngIf="message.to_id === my_id; else notMessage"> {{message.message}}  </ion-col>
        </ng-template>
        <ng-template #notMessage>
          <ion-col class="not_mess"  size="12"  > Нет переписки </ion-col>
        </ng-template>
      </div>


    </ion-row>

  </ion-grid>

  <ion-card class="mess-toolbar">
    <ion-textarea [(ngModel)]="message" rows="1"  autoGrow="true" placeholder="Сообщение..."></ion-textarea>
    <ion-button class="send-btn" (click)="sendIt($event)">
      <ion-icon name="send" ></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>
