<ion-header>
  <ion-toolbar>
    <div class="head_panel">
      <ion-title>Профиль </ion-title>
      <button (click)="logout()"> <ion-icon name="exit"></ion-icon></button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content_div">
  <div class="data_panel">
    <h3 class="name_p">{{userData.user}} {{userData.family}}</h3>
    <h3 class="login_p">{{userData.login}}</h3>
  </div>

  <ion-col class="avatar" >
    <img [src]="fileImage" class="avatar_img" alt="">
    <label class="change_avatar" for="fileUp" (click)="selectImage()">
      <ion-icon name="create" class="icon_upload"></ion-icon>
    </label>
  </ion-col>
</div>
  <ion-card>
    <ion-item>
      <ion-label position="floating" >Ваш логин:</ion-label>
      <ion-input  type="email"  [(ngModel)]="userLogin" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Ваше имя:</ion-label>
      <ion-input  type="text" [(ngModel)]="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Ваша фамилия:</ion-label>
      <ion-input  type="text" [(ngModel)]="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Дата рождение:</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY" max="2005-08-23" min="1944-08-23" [(ngModel)]="birth"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Ваш номер:</ion-label>
      <ion-input  type="text" [(ngModel)]="phonenumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Ваш VK:</ion-label>
      <ion-input  type="text" [(ngModel)]="vk"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Ваш Skype:</ion-label>
      <ion-input  type="text" [(ngModel)]="skype"></ion-input>
    </ion-item>
  </ion-card>
    <ion-button class="user-update" (click)="updateUser()">Обновить</ion-button>
  <br>
    <ion-button (click)="presentAlert()">
   Данный токен
  </ion-button>
  <ion-button (click)="getUserData()">
    Данные в консоле
  </ion-button>
</ion-content>

