
.tab-panel, ion-tab-button {
  border-color: #1e2023;
  --background: #1f2229;
  box-shadow: #6d9160 5px 5px 10px;

}

.tabs-md .tabbar,.tabs-ios .tabbar {
  background: linear-gradient(rgb(3, 132, 218), rgb(12, 23, 33));
}

.tab-has-icon {
  color: #506166;
}

.tab-selected {
  color: #ffffff;
}
